*{
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

/* html, body, {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
} */
html,body {
  background: #EBEBEB;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
}

.row{
  height: 100%;
}
.App {
  height: 32rem;
  width: 100%;
  background: #EBEBEB;
  /* position: relative; */
  /* margin: 1rem; */
}

.App:hover::before {
  opacity: 0;
  height: 0;
}

.App:hover::after {
  opacity: 0;
  width: 0;
}

.Display {
  background: #2B293D;
  color: #59C3C3;
  text-shadow: 0 0 5px rgba(89, 195, 195, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 1.8rem;
  position: relative;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.Button {
  background: #cad2c5;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f1f1f1 0%, rgba(89, 195, 195, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f1f1f1 0%, rgba(89, 195, 195, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f1f1f1 0%, rgba(89, 195, 195, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad2c5', endColorstr='#abb5aa', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
}

.Button[data-size="2"] {
  height: 40%;
}

.Button[data-value="null"] {
  pointer-events: none;
}

.Button:hover {
  background: rgba(89, 195, 195, 0.5);
  cursor: pointer;
}

.Button:active {
  background: #bdc7b7;
}

.heading-title {
  font-size: 2rem;
  font-style: italic;
  margin: 2rem auto;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.horizon {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin: 1rem 0 .2rem 0;
}

.created-by {
  line-height: 1.4rem;
  padding: 0;
  font-size: .9rem;
  margin: 0;
  text-align: center;
}

.instruction {
  font-weight: bold;
  margin: 1rem 0;
}

.icon {
  vertical-align: middle;
  color: darkgrey;
  font-size: 1.2rem;
  margin: 0 .6rem;
}

.icon:hover {
  color: lightgray;
}